:root{
    --text: #020807;
    --background: #f0fbf7;
    --primary: #42cfae;
    --secondary: #d993e4;
    --accent: #d8629d;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Sour Gummy', sans-serif;
    background-color: var(--background);
    color: var(--text);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards{
    background-color: #d8629d;
    display: flex;
    gap: 8px;
    align-items: center;
    border: 1px solid var(--primary);
    justify-content: center;
    width: calc(3.2 * 79px);
    height: calc(3 * 79px);
}

.card{
    width: 100%;
    height: 100%;
    background-image: url(https://assets.codepen.io/439000/slotreel.webp);
    background-repeat: repeat-y;
    background-position: 0 0;
}

.debt{
    display: none;
}

