:root{
    --text: #020807;
    --background: #f0fbf7;
    --primary: #42cfae;
    --secondary: #d993e4;
    --accent: #d8629d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Sour Gummy', sans-serif;
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    color: var(--background);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    border: none;
    font-family: 'Sour Gummy', sans-serif;
    padding: 12px;
    font-size: 22px;
    border-radius: 6px;
    background-color: var(--primary);
    cursor: pointer;
}

label{
    font-size: 22px;
}
p{
    font-size: 22px;
}

#allIn{
    color: var(--background);
}

.spinContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinContainer button{
    width: 100%;
}

.betContainer button{
    background-color: transparent;
}

#bet{
    color: green;
}

#lower{
    color: red;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.cards{
    display: grid;
    grid-gap: 6px;
    grid-template-columns: repeat(3, 1fr);
    padding: 24px;
    border-radius: 6px;
    background-color: #ff0000;
    box-shadow: 0px 0px 23px -2px #ff0000;
}

.card{
    width: 79px;
    height: calc(3*79px);
    background-image: url(https://assets.codepen.io/439000/slotreel.webp);
    background-repeat: repeat-y;
    background-position: 0 0;
    border: 1.2px solid var(--text);
}


.debt{
    /*display: none;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: var(--background);
    padding: 24px;
    border-radius: 6px;*/

    visibility: hidden;
    position: absolute;
    z-index: 10000;
    background-color: rgba(36, 36, 36, 0.529);
    backdrop-filter: blur(12px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px;
    font-size: 48px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.debt p{
    font-size: 18px;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    padding: 8px;
    font-size: 18px;
    border-radius: 6px;
    background-color: var(--background);
    width: 100%;
    border: none;
    outline: none;
}

.stuff{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.betContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.casino-background {
    animation: casinoBackground 1.1s 3, casinoShadow 1.1s 3;;
    
}

/*.message{
    visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    color: var(--text);
    padding: 12px;
    border-radius: 6px;
    top: 5%;
}

.message h3{
    font-size: 18px;
}*/

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    top: 30px;
}
  
/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 1 second */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 1s;
    animation: fadein 0.5s, fadeout 0.5s 1s;
}
  
#audio{
    background-color: var(--text);
    font-size: 26px;
    position: absolute;
    z-index: 1000000;
    left: 15px;
    top: 15px;
}

#win{
    visibility: hidden;
    position: absolute;
    z-index: 10000;
    background-color: rgba(36, 36, 36, 0.529);
    backdrop-filter: blur(12px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#winText{
    background: -webkit-linear-gradient( 45deg, #ff0000, #ff7700, #ffdd00, #00ff00, #0077ff, #0000ff, #ff00ff, #ff0077, #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#combo{
    background: -webkit-linear-gradient(yellow, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#cross{
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    font-size: 28px;
    cursor: pointer;
    background-color: transparent;
}

@keyframes casinoBackground {
    0% { background-color: #ff0000; }
    16.67% { background-color: #00ff00; }
    33.33% { background-color: #0000ff; }
    50% { background-color: #ffff00; }
    66.67% { background-color: #ff00ff; }
    83.33% { background-color: #00ffff; }
    100% { background-color: #ff0000; }

}

@keyframes casinoShadow {
    0% { box-shadow: 0px 0px 23px -2px #ff0000; }
    16.67% { box-shadow: 0px 0px 23px -2px #00ff00; }
    33.33% { box-shadow: 0px 0px 23px -2px #0000ff; }
    50% { box-shadow: 0px 0px 23px -2px #ffff00; }
    66.67% { box-shadow: 0px 0px 23px -2px #ff00ff; }
    83.33% { box-shadow: 0px 0px 23px -2px #00ffff; }
    100% { box-shadow: 0px 0px 23px -2px #ff0000; }
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}
  
@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}
  
@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@media (min-width: 150px) and (max-width: 549px) {
    .debt{
        font-size: 24px;
    }
}